@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  background: #eeecec;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Roboto Slab',
    'Montserrat',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

header {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.2rem;
  background: #fff;
  box-shadow: 1px 2px 2px rgb(218, 214, 214);
}

.logo {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(51, 182, 226);
}

nav {
  display: flex;
  gap: 2rem;
  margin-right: 50%;
}

.nav__item {
  text-decoration: none;
  font-size: 1.1rem;
  right: 50%;
  color: #777;
}

.nav__item:hover,
.nav__item:focus {
  color: #999;
}
